 **/build/
 **/.dart_tool/
 **/.flutter-plugins
 **/.flutter-plugins-dependencies
 **/.packages
 **/.pub-cache/
 **/.pub/
 **/ios/Flutter/.last_build_id
 **/android/.gradle/
 **/android/local.properties
 **/android/key.properties
 *.lock

 # Firebase
 functions/node_modules/
 functions/package-lock.json
 **/google-services.json
 **/firebase_options.dart